<!doctype html>
<html lang="en">
<head>


</head>

<body class="text-center">

<div class="cover-container-wide d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= flash_messages %>
  <%= render 'layouts/nav' %>

  <main role="main" class="inner cover">
    <h3> 登入 SignIn </h3>

    <div class="form-width">
      <%= form_for(:session, url: user_login_path) do |f| %>
        <div class="form-group text-left">
          <%= f.label :email, "電子信箱 Email" %>
          <%= f.text_field :email, :class => "form-control" %>
        </div>

        <div class="form-group text-left">
          <%= f.label :password, "密碼 Password" %>
          <%= f.password_field :password, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "登入 Login", class: "btn btn-primary" %>
          <a class="btn btn-secondary" href="/user/signup">註冊 Regis</a>
        </div>


      <% end %>

    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Copyright © Gary-Yeh All rights reserved</p>
    </div>
  </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>


<!--
-->